* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html, 
body {
    font-family: "Source Sans 3", sans-serif;
    color: #0E0E0E;
}

.container {
    padding-left: 4.8vw;
    padding-right: 4.8vw;
}

/* HEADER **************************************** */

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background: #fff;
    padding-top: 1.125em;
    padding-bottom: 1.125em;
}

.logo {
    display: flex;
    align-items: center;
    gap: 3px;
    font: 0.85rem "Roboto", sans-serif;
    text-decoration: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.logo-img {
    width: 1.76em;
}

nav ul {
    display: flex;
    margin: 0;
    gap: 30px;
    list-style: none;
}

nav a {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
}


/* MAIN ************************************************ */

.blog {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.blog__title {
    font-size: 1.5em;
}

.blog__date {
    order: -1;
    font-size: 0.875rem;
    text-transform: uppercase;
}

.blog__img {
    order: -2;
    border-radius: 3px;
    width: 100%;
    height: 232px;
    object-fit: cover;
}

.blog--hero {
    justify-content: end;
    margin-bottom: 2.125em;
    min-height: 300px;
    height: 40vw;
    max-height: 488px;
    background: top/cover url("/images/blog-img-hero.png");
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    color: #fff;
}

.blog__title--big {
    font-size: 2rem;
    line-height: 1.1;
}

.blog__date--big {
    font-size: 0.75rem;
}

.blog__intro--big {
    max-width: 614px;
    font-size: 1rem;
}

.blog-listing {
    display: grid;
    gap: 40px 24px;
    grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
    padding-bottom: 2.625em;
}


/* FOOTER **************************************** */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.25em 0;
    background: #0E0E0E;
    font-size: 0.75rem;
    color: #fff;
}


/* NARROW  SCREEN **************************************/
@media (max-width: 335px) {
    .container {
        padding-left: 0.8em;
        padding-right: 0.8em;
    }

    .logo-name,
    .blog__intro--big,
    .blog__intro {
        display: none;
    }

    nav ul {
        gap: 15px;
    }

    .blog--hero {
        min-height: 250px;
    }

    .blog__title--big {
        font-size: 1.5rem;
        line-height: 1.35;
    }

    .blog-listing {
        grid-template-columns: auto;
        gap: 24px;
    }

    .blog {
        gap: 8px;
    }

    .blog__title {
        font-size: 1.2rem;
        line-height: 0.5;
    }
}


/* WIDE SCREEN ********************************************/
@media (min-width: 1024px) {

    /* HEADER **************************/

    header {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }

    .logo {
        font-size: 1.25rem;
    }

    nav a {
        font-size: 1rem;
    }

    /* MAIN **************************/

    .blog--hero {
        padding-bottom: 3.75em;
    }

    .blog__title--big {
        font-size: 2.5rem;
    }

    .blog__date--big {
        font-size: 1rem;
    }
}


/* UTILITY CLASSES ***********************************/

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important; 
    -webkit-clip-path: inset(50%) !important;
        clip-path: inset(50%) !important; 
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;            
}

.bold {
    font-weight: bold;
}